Repository ES2-UFPI/QuizMania, pull requests merged in 2021-01, with the labels that each got.

#32 Feature/level progression#3
  backend/Controllers/CharacterController.cs
  backend/Controllers/QuizController.cs
  backend/DTOs/Input/QuestionAnswerReceivedDTO.cs
  backend/DTOs/Input/QuizFeedbackReceivedDTO.cs
  backend/DTOs/Output/AnswerReadDTO.cs
  backend/DTOs/Output/CharacterInfoDTO.cs
  backend/DTOs/Output/QuestionAnswerReadDTO.cs
  backend/DTOs/Output/QuestionReadDTO.cs
  backend/DTOs/Output/QuizFeedbackReadDTO.cs
  backend/DTOs/Output/QuizReadDTO.cs
  backend/DTOs/QuestionAnswerDTO.cs
  backend/DTOs/QuizFeedbackReadDTO.cs
  backend/DTOs/QuizFeedbackReceivedDTO.cs
  backend/Data/DatabaseContext.cs
  backend/Data/DatabaseInitializer.cs
  backend/Data/QuizContext.cs
  backend/Data/Repositories/CharacterRepository.cs
  backend/Data/Repositories/ICharacterAsyncRepository.cs
  backend/Data/Repositories/IQuizAsyncRepository.cs
  backend/Data/Repositories/QuizRepository.cs
  backend/Data/Repositories/SqlQuizRepository.cs
  backend/Migrations/20201216123908_Initial.Designer.cs
  backend/Migrations/20201216123908_Initial.cs
  backend/Migrations/20210104201648_Initial.Designer.cs
  backend/Migrations/20210104201648_Initial.cs
  backend/Migrations/DatabaseContextModelSnapshot.cs
  backend/Migrations/QuizContextModelSnapshot.cs
  backend/Models/Answer.cs
  backend/Models/Character.cs
  backend/Models/Choice.cs
  backend/Models/Question.cs
  backend/Models/QuestionAnswer.cs
  backend/Models/QuizFeedback.cs
  backend/Profiles/AnswerProfile.cs
  backend/Profiles/CharacterProfile.cs
  backend/Profiles/QuestionAnswerProfile.cs
  backend/Profiles/QuizFeedbackProfile.cs
  backend/Program.cs
  backend/Services/CharacterService.cs
  backend/Services/ICharacterService.cs
  backend/Services/IQuizService.cs
  backend/Services/QuizService.cs
  backend/Startup.cs
  backend/appsettings.json
Labels: Backend

#35 Merge branch 'feature/level-progression#3' into feature/character-mod…
  backend/Controllers/CharacterController.cs
  backend/DTOs/Input/GoldExpenseRequestDTO.cs
  backend/DTOs/Input/QuestionAnswerReceivedDTO.cs
  backend/DTOs/Input/QuizFeedbackReceivedDTO.cs
  backend/DTOs/Output/GoldExpenseRequestResultDTO.cs
  backend/Migrations/20210105235826_Initial.Designer.cs
  backend/Migrations/20210105235826_Initial.cs
  backend/Migrations/DatabaseContextModelSnapshot.cs
  backend/Models/Character.cs
  backend/Models/GoldExpense.cs
  backend/Profiles/GoldExpenseProfile.cs
  backend/Services/CharacterService.cs
  backend/Services/ICharacterService.cs
  backend/Startup.cs
Labels: Backend

#34 Added gold expense api to Character services #4
  backend/Controllers/CharacterController.cs
  backend/DTOs/Input/GoldExpenseRequestDTO.cs
  backend/DTOs/Input/QuestionAnswerReceivedDTO.cs
  backend/DTOs/Input/QuizFeedbackReceivedDTO.cs
  backend/DTOs/Output/GoldExpenseRequestResultDTO.cs
  backend/Models/Character.cs
  backend/Models/GoldExpense.cs
  backend/Profiles/GoldExpenseProfile.cs
  backend/Services/CharacterService.cs
  backend/Services/ICharacterService.cs
Labels: Backend

#56 Azure pipelines CI-CD
  azure-pipelines.yml
  backend/Services/CharacterService.cs
  backend/Startup.cs
Labels: Backend

#57 Cleaning up old attemps at ci-cd integration with azure
  .github/workflows/test_ci_cd.yml
  azure-pipelines.yml
Labels: Backend

#58 Feature/delete quiz be#46
  backend/Controllers/QuizController.cs
  backend/DTOs/Input/DeleteQuizRequestDTO.cs
  backend/DTOs/Output/DeleteQuizRequestResultDTO.cs
  backend/DTOs/Output/QuizReadDTO.cs
  backend/Data/DatabaseInitializer.cs
  backend/Data/Repositories/IQuizAsyncRepository.cs
  backend/Data/Repositories/QuizRepository.cs
  backend/Migrations/20210113033441_Initial.Designer.cs
  backend/Migrations/20210113033441_Initial.cs
  backend/Migrations/DatabaseContextModelSnapshot.cs
  backend/Models/Quiz.cs
  backend/Services/IQuizService.cs
  backend/Services/QuizService.cs
Labels: Backend

#59 Feature/tela criar quiz#45
  frontend/App.js
  frontend/src/screens/Quiz/Criar/index.js
  frontend/src/screens/index.js
Labels: Frontend

#60 Feature/add ci frontend#54
  .travis.yml
  frontend/package-lock.json
Labels: Frontend

#62 Feature/save quiz endpoint#44
  backend/Controllers/CharacterController.cs
  backend/Controllers/QuizController.cs
  backend/DTOs/Input/QuestionAnswerReceivedDTO.cs
  backend/DTOs/Input/Quiz/SaveQuestion/SaveQuestion_AnswerDTO.cs
  backend/DTOs/Input/Quiz/SaveQuestion/SaveQuestion_QuestionDTO.cs
  backend/DTOs/Input/Quiz/SaveQuiz/SaveQuiz_AnswerDTO.cs
  backend/DTOs/Input/Quiz/SaveQuiz/SaveQuiz_QuestionDTO.cs
  backend/DTOs/Input/Quiz/SaveQuiz/SaveQuiz_QuizDTO.cs
  backend/DTOs/Input/QuizFeedback/SaveQuizFeedback/SaveQuizFb_QuestionAnswerDTO.cs
  backend/DTOs/Input/QuizFeedback/SaveQuizFeedback/SaveQuizFb_QuizFeedbackDTO.cs
  backend/DTOs/Input/QuizFeedbackReceivedDTO.cs
  backend/DTOs/Input/Request/DeleteQuizRequestDTO.cs
  backend/DTOs/Input/Request/GoldExpenseRequestDTO.cs
  backend/DTOs/Output/Character/CharacterInfoDTO.cs
  backend/DTOs/Output/Quiz/AnswerReadDTO.cs
  backend/DTOs/Output/Quiz/QuestionReadDTO.cs
  backend/DTOs/Output/Quiz/QuizReadDTO.cs
  backend/DTOs/Output/QuizFeedback/QuestionAnswerReadDTO.cs
  backend/DTOs/Output/QuizFeedback/QuizFeedbackReadDTO.cs
  backend/DTOs/Output/Response/DeleteQuizResponseDTO.cs
  backend/DTOs/Output/Response/GoldExpenseResponseDTO.cs
  backend/DTOs/Output/Response/SaveQuizFeedbackResponseDTO.cs
  backend/DTOs/Output/Response/SaveQuizResponseDTO.cs
  backend/Data/DatabaseInitializer.cs
  backend/Data/Repositories/CharacterRepository.cs
  backend/Data/Repositories/ICharacterAsyncRepository.cs
  backend/Data/Repositories/IQuizAsyncRepository.cs
  backend/Data/Repositories/QuizRepository.cs
  backend/Models/Character/Character.cs
  backend/Models/Quiz/Answer.cs
  backend/Models/Quiz/Question.cs
  backend/Models/Quiz/Quiz.cs
  backend/Models/QuizFeedback/QuestionAnswer.cs
  backend/Models/QuizFeedback/QuizFeedback.cs
  backend/Models/Request/GoldExpense.cs
  backend/Profiles/Character/CharacterProfile.cs
  backend/Profiles/Quiz/AnswerProfile.cs
  backend/Profiles/Quiz/QuestionProfile.cs
  backend/Profiles/Quiz/QuizProfile.cs
  backend/Profiles/QuizFeedback/QuestionAnswerProfile.cs
  backend/Profiles/QuizFeedback/QuizFeedbackProfile.cs
  backend/Profiles/Request/GoldExpenseProfile.cs
  backend/Services/CharacterService.cs
  backend/Services/ICharacterService.cs
  backend/Services/IQuizService.cs
  backend/Services/QuizService.cs
Labels: Backend

#66 Adiciona botão de deletar quiz
  frontend/App.js
  frontend/components/Container/index.js
  frontend/src/screens/Quiz/Listar/index.js
Labels: Frontend

#67 Fix/backend improvements#65
  backend/Controllers/QuizController.cs
  backend/DTOs/Input/Quiz/SaveQuestion/SaveQuestion_AnswerDTO.cs
  backend/DTOs/Input/Quiz/SaveQuestion/SaveQuestion_QuestionDTO.cs
  backend/DTOs/Input/Quiz/SaveQuiz/SaveQuiz_AnswerDTO.cs
  backend/DTOs/Input/Quiz/SaveQuiz/SaveQuiz_QuestionDTO.cs
  backend/DTOs/Input/Quiz/SaveQuiz/SaveQuiz_QuizDTO.cs
  backend/DTOs/Input/QuizFeedback/SaveQuizFeedback/SaveQuizFb_QuizFeedbackDTO.cs
  backend/DTOs/Output/Response/SaveQuestionResponseDTO.cs
  backend/DTOs/Output/Response/SaveQuizFeedbackResponseDTO.cs
  backend/Data/Repositories/IQuizAsyncRepository.cs
  backend/Data/Repositories/QuizRepository.cs
  backend/Migrations/20210116024743_Initial.Designer.cs
  backend/Migrations/20210116024743_Initial.cs
  backend/Migrations/DatabaseContextModelSnapshot.cs
  backend/Models/Character/Character.cs
  backend/Models/Quiz/Answer.cs
  backend/Models/Quiz/Question.cs
  backend/Models/QuizFeedback/QuestionAnswer.cs
  backend/Models/QuizFeedback/QuizFeedback.cs
  backend/QuizMania.WebAPI.csproj
  backend/Services/IQuizService.cs
  backend/Services/QuizService.cs
  backend/Startup.cs
Labels: Backend

#68 Adiciona botão de deletar pergunta
  frontend/services/index.js
  frontend/src/screens/Personagem/Ver/index.js
  frontend/src/screens/Quiz/Criar/index.js
Labels: Frontend

#69 Added Character Items endpoint to the backend - Issue #48
  backend/Controllers/CharacterController.cs
  backend/DTOs/Output/Character/CharacterItemsDTO.cs
  backend/DTOs/Output/Character/EffectBaseInfoDTO.cs
  backend/DTOs/Output/Character/ItemInfoDTO.cs
  backend/Data/DatabaseContext.cs
  backend/Data/DatabaseInitializer.cs
  backend/Data/Repositories/CharacterRepository.cs
  backend/Data/Repositories/ICharacterAsyncRepository.cs
  backend/Migrations/20210116024743_Initial.cs
  backend/Migrations/20210117172738_Initial.Designer.cs
  backend/Migrations/20210117172738_Initial.cs
  backend/Migrations/DatabaseContextModelSnapshot.cs
  backend/Models/Character/Character.cs
  backend/Models/Character/EffectBase.cs
  backend/Models/Character/Item.cs
  backend/Profiles/Character/CharacterProfile.cs
  backend/Profiles/Character/EffectProfile.cs
  backend/Profiles/Character/ItemProfile.cs
  backend/Services/CharacterService.cs
  backend/Services/ICharacterService.cs
  backend/Services/QuizService.cs
Labels: Backend

#71 Backend - Endpoint to purchase Items - Issue #49
  backend/Controllers/CharacterController.cs
  backend/DTOs/Input/Request/ItemPurchaseRequestDTO.cs
  backend/DTOs/Output/Character/CharacterItemsDTO.cs
  backend/DTOs/Output/Character/ItemInfoDTO.cs
  backend/DTOs/Output/Character/ItemQuantityDTO.cs
  backend/DTOs/Output/Response/GoldExpenseResponseDTO.cs
  backend/DTOs/Output/Response/ItemPurchaseResponseDTO.cs
  backend/Data/DatabaseContext.cs
  backend/Data/DatabaseInitializer.cs
  backend/Data/Repositories/CharacterRepository.cs
  backend/Data/Repositories/ICharacterAsyncRepository.cs
  backend/Data/Repositories/IItemAsyncRepository.cs
  backend/Data/Repositories/ItemRepository.cs
  backend/Migrations/20210117172738_Initial.cs
  backend/Migrations/20210118011310_Initial.Designer.cs
  backend/Migrations/20210118011310_Initial.cs
  backend/Migrations/DatabaseContextModelSnapshot.cs
  backend/Models/Character/Character.cs
  backend/Models/Character/ItemInfo.cs
  backend/Models/Character/ItemQuantity.cs
  backend/Models/Request/GoldExpense.cs
  backend/Models/Request/ItemPurchase.cs
  backend/Profiles/Character/ItemInfoProfile.cs
  backend/Profiles/Character/ItemProfile.cs
  backend/Profiles/Character/ItemQuantityProfile.cs
  backend/Profiles/Request/ItemPurchaseProfile.cs
  backend/Services/CharacterService.cs
  backend/Services/ICharacterService.cs
  backend/Startup.cs
Labels: Backend

#74 Fix/item purchase max quantity#73
  backend/Controllers/CharacterController.cs
  backend/Services/CharacterService.cs
Labels: Backend, bug

#76 Feature/character equip items#75
  backend/Controllers/CharacterController.cs
  backend/DTOs/Input/Request/DeleteQuestionRequestDTO.cs
  backend/DTOs/Input/Request/ItemPurchaseRequestDTO.cs
  backend/DTOs/Input/Request/Un_EquipItemRequestDTO.cs
  backend/DTOs/Output/Character/CharacterItemsDTO.cs
  backend/DTOs/Output/Character/InventoryItemDTO.cs
  backend/DTOs/Output/Character/ItemInfoDTO.cs
  backend/DTOs/Output/Quiz/AnswerReadDTO.cs
  backend/DTOs/Output/Response/ItemPurchaseResponseDTO.cs
  backend/DTOs/Output/Response/Un_EquipItemResponseDTO.cs
  backend/Data/DatabaseInitializer.cs
  backend/Data/Repositories/IItemAsyncRepository.cs
  backend/Data/Repositories/ItemRepository.cs
  backend/Models/Character/Character.cs
  backend/Models/Character/InventoryItem.cs
  backend/Models/Character/ItemInfo.cs
  backend/Models/Character/ItemQuantity.cs
  backend/Profiles/Character/ItemInfoProfile.cs
  backend/Profiles/Character/ItemQuantityProfile.cs
  backend/Services/CharacterService.cs
  backend/Services/ICharacterService.cs
Labels: Backend

#82 Feature/endpoint to return items#81
  backend/Controllers/CharacterController.cs
  backend/Data/DatabaseContext.cs
  backend/Data/Repositories/CharacterRepository.cs
  backend/Data/Repositories/ICharacterAsyncRepository.cs
  backend/Migrations/20210120014810_Initial.Designer.cs
  backend/Migrations/20210120014810_Initial.cs
  backend/Migrations/DatabaseContextModelSnapshot.cs
  backend/Services/CharacterService.cs
  backend/Services/ICharacterService.cs
Labels: Backend

#83 Updated mock database with items currently available on the store #49
  backend/Data/DatabaseInitializer.cs
  backend/Models/Character/ItemInfo.cs
Labels: Backend

#79 Adicionar perguntar a quiz
  frontend/components/Header/index.js
  frontend/components/Pergunta/index.js
  frontend/services/index.js
  frontend/src/screens/Quiz/Criar/index.js
  frontend/src/screens/Quiz/Listar/index.js
  frontend/src/screens/Quiz/Responder/index.js
Labels: Frontend

#80 Adiciona subtelas na tela de loja #51
  frontend/package-lock.json
  frontend/package.json
  frontend/src/screens/Gold/Usar/index.js
  frontend/yarn.lock
Labels: Frontend

#84 Feature/quiz title#78
  backend/DTOs/Input/Quiz/SaveQuiz/SaveQuiz_QuizDTO.cs
  backend/DTOs/Output/Quiz/QuizReadDTO.cs
  backend/Data/DatabaseInitializer.cs
  backend/Migrations/20210120021103_Initial.Designer.cs
  backend/Migrations/20210120021103_Initial.cs
  backend/Migrations/DatabaseContextModelSnapshot.cs
  backend/Models/Quiz/Quiz.cs
Labels: Backend

#85 Adquirir itens
  frontend/components/CardItem/index.js
  frontend/components/Container/index.js
  frontend/components/Header/index.js
  frontend/components/Pergunta/index.js
  frontend/components/Personagem/index.js
  frontend/constants/index.js
  frontend/services/index.js
  frontend/src/screens/Gold/Usar/index.js
  frontend/src/screens/Quiz/Criar/index.js
  frontend/src/screens/Quiz/Listar/index.js
  frontend/src/screens/Quiz/Responder/index.js
Labels: Frontend

#103 Tests/api for developers#100
  backend/Controllers/CharacterController.cs
  backend/Controllers/DatabaseController.cs
  backend/Controllers/QuizController.cs
  backend/Data/DatabaseInitializer.cs
  backend/Data/Repositories/BaseRepository.cs
  backend/Data/Repositories/CharacterRepository.cs
  backend/Data/Repositories/ItemRepository.cs
  backend/Data/Repositories/QuizRepository.cs
  backend/Program.cs
  backend/Services/CharacterService.cs
  backend/Startup.cs
Labels: Backend

#102 Adiciona tela de exibir guildas
  frontend/src/screens/Guilda/Listar/index.js
Labels: Frontend

#101 Corrige bugs no app
  frontend/components/Container/index.js
  frontend/src/screens/Gold/Usar/index.js
Labels: Frontend, bug

#104 Feature/ranking tests backend#87
  QuizMania.WebAPI.Tests/Controllers/CharacterController_Tests.cs
  QuizMania.WebAPI.Tests/DbContextTestBase.cs
  QuizMania.WebAPI.Tests/QuizMania.WebAPI.Tests.csproj
  backend/Controllers/CharacterController.cs
  backend/Controllers/QuizController.cs
  backend/DTOs/Output/Character/CharacterRankingDTO.cs
  backend/QuizMania.Backend.sln
  backend/Services/CharacterService.cs
  backend/Services/ICharacterService.cs
Labels: Backend

#105 Added end point to retrieve ranking (global or from a guild) to the BE
  QuizMania.WebAPI.Tests/Controllers/CharacterControllerTests.Ranking.cs
  QuizMania.WebAPI.Tests/Controllers/CharacterControllerTests.cs
  QuizMania.WebAPI.Tests/Controllers/CharacterController_Tests.cs
  QuizMania.WebAPI.Tests/DbContextTestBase.cs
  backend/Controllers/CharacterController.cs
  backend/Models/Character/Character.cs
  backend/Services/CharacterService.cs
  backend/Services/ICharacterService.cs
Labels: Backend

#109 Testes frontend
  frontend/__tests__/App.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/screens/Perfil/index.js
  frontend/src/screens/index.js
Labels: Frontend

#107 Feature/endpoint for a character to join a guild#95
  QuizMania.WebAPI.Tests/Controllers/CharacterControllerTests.Ranking.cs
  backend/Controllers/CharacterController.cs
  backend/DTOs/Input/Request/Leave_JoinGuildRequestDTO.cs
  backend/DTOs/Output/Character/CharacterInfoDTO.cs
  backend/DTOs/Output/Character/CharacterInfoRankDTO.cs
  backend/DTOs/Output/Character/CharacterRankingDTO.cs
  backend/DTOs/Output/Character/GuildInfoDTO.cs
  backend/DTOs/Output/Response/Leave_JoinGuildResponseDTO.cs
  backend/Data/DatabaseContext.cs
  backend/Data/DatabaseInitializer.cs
  backend/Data/Repositories/Implementations/BaseRepository.cs
  backend/Data/Repositories/Implementations/CharacterRepository.cs
  backend/Data/Repositories/Implementations/ItemRepository.cs
  backend/Data/Repositories/Implementations/QuizRepository.cs
  backend/Data/Repositories/Interfaces/ICharacterAsyncRepository.cs
  backend/Data/Repositories/Interfaces/IItemAsyncRepository.cs
  backend/Data/Repositories/Interfaces/IQuizAsyncRepository.cs
  backend/Models/Character/Character.cs
  backend/Models/Character/Guild.cs
  backend/Profiles/Character/CharacterProfile.cs
  backend/Profiles/Character/GuildProfile.cs
  backend/Services/Implementations/CharacterService.cs
  backend/Services/Implementations/QuizService.cs
  backend/Services/Interfaces/ICharacterService.cs
  backend/Services/Interfaces/IQuizService.cs
Labels: Backend

#106 Setup Frontend CI with Azure Pipelines
  azure-pipelines-frontend.yml
  frontend/azure-pipelines.yml
  frontend/junit.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Labels: Frontend

#111 Adiciona participação de guilda #96
  frontend/App.js
  frontend/services/index.js
  frontend/src/screens/Guilda/Listar/index.js
Labels: Frontend

#110 Feature/tela ranking geral#92
  frontend/App.js
  frontend/components/CharacterRanking/index.js
  frontend/components/Container/index.js
  frontend/components/index.js
  frontend/services/index.js
  frontend/src/screens/Ranking/Geral/index.js
  frontend/src/screens/index.js
Labels: Frontend
